<div class="m-upload">
    <div class="m-files-zone">
        <div ref="filesentry" class="m-entry" r-hide={fileList.length === 0} on-click={this.toggle(!open, $event)}>
            {#if fileList[0] && fileList[0].inst.data.type === 'IMAGE'}
                <div class="m-img-wrapper">
                    <img class="u-img" src={fileList[0] && fileList[0].inst.data.src} alt={fileList[0] && fileList[0].inst.data.name}/>
                </div>
            {#elseif fileList[0] && fileList[0].inst.data.type === 'ZIP'}
                <span class="u-txt">ZIP</span>
            {#elseif fileList[0] && fileList[0].inst.data.type === 'UNKNOWN'}
                <span class="u-txt">未知</span>
            {#else} <!-- TEXT, DOC, JS, HTML -->
                <span class="u-txt">{fileList[0] && fileList[0].inst.data.type}</span>
            {/if}
            <span ref="filesbanner" class="u-banner" r-class={{'top': isTopBanner}}></span>
            <ul ref="fileswrapper" class="m-filelist" r-hide={fileList.length === 0} r-style={{width: fileListWidth + 'px'}}></ul>
        </div>
        <div ref="inputwrapper" class="u-input-wrapper" on-click={this.fileDialogOpen()}>
            {#if this.$body}
                {#inc this.$body}
            {#else}
                <div class="u-input-btn"><span class="u-input-content"><i class="u-icon u-icon-plus"></i>上传文件</span></div>
            {/if}
        </div>
    </div>
    <form method="POST" action={url} target="iframe{_id}" enctype={contentType} ref="form">
        <input type="file" name={name} ref="file" multiple={multiple ? 'multiple' : ''} r-hide={true} on-change={this.fileSelect()}>
        {#list Object.keys(data) as key}
            <input type="hidden" name={key} value={data[key]}>
        {/list}
    </form>
    <div ref="imagepreview"></div>
</div>
